#filterrific_results

  = will_paginate @products, renderer: BootstrapPagination::Rails  

  - @products.each do |product|
    = render "products/product_row", product: product, order_item: @order_item

  = will_paginate @products, renderer: BootstrapPagination::Rails   